@tailwind base;
@tailwind components;
@tailwind utilities;

.shell {
	max-width: 1512px;
	padding-inline: 24px;
	margin: 0 auto;
	position: relative;

	// @media screen and (max-width: 1280px) {
	// 	padding-inline: 50px;
	// }

	 @media screen and (max-width: 1024px) {
	 	padding-inline: 35px;
	 }

	@media screen and (max-width: 767px) {
		padding-inline: 24px;
	}
}

.image-fit { overflow: hidden; position: relative; background-size: cover; background-position: center; }
.image-fit img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }